In [1]:
# Import Pandas
import pandas as pd

# Import the create_engine method used for connecting to DBs from sqlalchemy
from sqlalchemy import create_engine

# Import PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [4]:
# Create a variable "conn" and set it to a connection to one of your local mysql database.
# Using mail_values_db from previous code drill from SQL. OR use your own database and modify the query.
# Either make a connection using pymysql's connect method or sqlalchemy's create_engine method.
engine = create_engine("mysql://root:password@localhost/joins_db")
conn = engine.connect()

   AddressId  PersonId           City        State  Avg_Price
0          1         1       San Jose   California     100000
1          2         2        Oakland   California     800000
2          3         4        Oakland   California     800000
3          4         5       Richmond   California     750000
4          5         7  San Francisco  Califnornia     200000

In [5]:
# Create a variable "data" and set it to the query of all Records in one of your tables in the Database
    # Use panda's read_sql method.
data = pd.read_sql("SELECT * FROM address", conn)

In [6]:
# Print the data variable.
print(data)

   AddressId  PersonId           City        State  Avg_Price
0          1         1       San Jose   California     100000
1          2         2        Oakland   California     800000
2          3         4        Oakland   California     800000
3          4         5       Richmond   California     750000
4          5         7  San Francisco  Califnornia     200000