In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [2]:
# Create a Princess class
class Princess(Base):
    __tablename__ = "disney_princesses"
    id = Column(Integer, primary_key = True, autoincrement = True)
    name = Column(String)
    sidekick = Column(String)
    coolness = Column(Float)

In [3]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///Princess.sqlite')

In [4]:
# Create the disney_princesses table within the database
Base.metadata.create_all(engine)

In [5]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind = engine)

In [6]:
# Create at least 3 instances of the Princess class & Add these objects to the session
session.add(Princess(name = "Jasmin", sidekick = "tiger", coolness = 75))
session.add(Princess(name = "Ariel", sidekick = "lobster", coolness = 100))
session.add(Princess(name = "Pocahontas", sidekick = "racoon", coolness = 98))

In [9]:
# Commit the objects to the database
session.commit()
engine.execute('SELECT * FROM disney_princesses').fetchall()

[(1, 'Jasmin', 'tiger', 75.0),
 (2, 'Ariel', 'lobster', 100.0),
 (3, 'Pocahontas', 'racoon', 98.0)]

In [24]:
# Update the data so that character's coolness is now 100 and change another's sidekick
ariel = session.query(Princess).filter(Princess.name =="Ariel").first()
ariel.sidekick = "flounder"

pocahontas = session.query(Princess).filter(Princess.name =="Pocahontas").first()
pocahontas.coolness = 100

# Commit the updates to the database
session.commit()
engine.execute('SELECT * FROM disney_princesses').fetchall()

[(1, 'Jasmin', 'tiger', 75.0),
 (2, 'Ariel', 'flounder', 100.0),
 (3, 'Pocahontas', 'racoon', 100.0)]

In [27]:
# Delete the row with the lowest coolness
uncool = session.query(Princess).filter_by(coolness = 75.0).delete()

# Commit the delete to the database
session.commit()
engine.execute('SELECT * FROM disney_princesses').fetchall()

[(2, 'Ariel', 'flounder', 100.0), (3, 'Pocahontas', 'racoon', 100.0)]

In [28]:
# Collect all of the items and print their information
engine.execute('SELECT * FROM disney_princesses').fetchall()

[(2, 'Ariel', 'flounder', 100.0), (3, 'Pocahontas', 'racoon', 100.0)]